# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  SYNCSA,
  vegan
)
importFrom(ape, makeNodeLabel, node.depth.edgelength, pcoa)
importFrom(picante, randomizeMatrix, taxaShuffle)
importFrom(phylobase, phylo4, descendants)
importFrom(plotrix, plotCI)