# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  SYNCSA
)
importFrom(vegan, vegdist, procrustes, ordispider, wcmdscale, rda, adonis, mantel, ordilabel)
importFrom(ape, makeNodeLabel, node.depth.edgelength, pcoa, rTraitCont)
importFrom(picante, randomizeMatrix, taxaShuffle)
importFrom(phylobase, phylo4, descendants)
